<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/libroportada.jpg" type="image/x-icon">
    <title>Resultados</title>
</head>
<body>
        <%- include ("./partials/navbar") %>

        <!-- Vista de resultados de búsqueda (book-search.ejs): -->

<main class="main-content">
    <div class="card-container">
        <% if (results.length === 0) { %>
            <p>No se encontraron resultados.</p>
        <% } else { %>
            <% results.forEach(book => { %>
                <div class="card">
                    <a href="/book/book-detail/<%= book.id %>">
                        <img class="card-image" src="<%= book.image %>" alt="<%= book.title %>">
                        <div class="card-content">
                            <h3 class="card-title"><%= book.title %></h3>
                            <div class="card-buttons">
                                <a href="<%= book.link %>" download class="download-btn">Descargar PDF</a>
                                <a href="/book/book-detail/<%= book.id %>" class="details-btn">Ver detalles</a>
                            </div>
                            <p class="card-id">ID: <%= book.id %></p>
                        </div>
                    </a>
                </div>
            <% }); %>
        <% } %>
    </div>
</main>


        <%- include ("./partials/footer") %>


</body>
</html>