<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/formCreate.css">
  <title>Editar Libro - TEC 5</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

    <div class="formulario">
    <h2 style="text-align: center;">Editar Libro</h2>
    <form class="mi-formulario" action="/book/book-edit/<%= result.id %>" method="post" enctype="multipart/form-data">
        <label for="nombre" class="mi-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="mi-input" value="<%= result.title %>" required>
    
        <label for="descripcion" class="mi-label">Descripción:</label>
        <textarea id="descripcion" name="descripcion" class="mi-textarea" required><%= result.title %></textarea>
    
        <label for="archivo" class="mi-label">Subir archivo PDF:</label>
        <input type="file" id="archivo" name="archivo" accept=".pdf" class="mi-input">

        <label for="genero" class="mi-label">Género:</label>
        <select id="genero" name="genero" class="mi-input" required>
          <option value="" disabled>Selecciona un género</option>
          <option value="Novela" <%= result.genre === 'Novela' ? 'selected' : '' %> >Novela</option>
          <option value="Poesia" <%= result.genre === 'Poesia' ? 'selected' : '' %> >Poesía</option>
          <option value="Historia" <%= result.genre === 'Historia' ? 'selected' : '' %> >Historia</option>
          <option value="Ciencia-Ficcion" <%= result.genre === 'Ciencia-Ficcion' ? 'selected' : '' %> >Ciencia Ficción</option>
          <option value="Fantasia" <%= result.genre === 'Fantasia' ? 'selected' : '' %> >Fantasía</option>
          <option value="Biografia" <%= result.genre === 'Biografia' ? 'selected' : '' %> >Biografía</option>
          <option value="Ensayo" <%= result.genre === 'Ensayo' ? 'selected' : '' %> >Ensayo</option>
          <option value="Tecnologia" <%= result.genre === 'Tecnologia' ? 'selected' : '' %> >Tecnología</option>
          <option value="Ciencias-Naturales" <%= result.genre === 'Ciencias-Naturales' ? 'selected' : '' %> >Ciencias Naturales</option>
        </select>
        
        
    
        <div class="botones">
        <button type="submit" class="mi-btn">Editar libro</button>
        </div>
    </form>

    <form class="mi-formulario" method="POST" action="/book/book-edit/<%= result.id%>?_method=DELETE">
      <button type="submit" id="eliminar" class="mi-btn">Eliminar</button>
    </form>
  
    </div>
  



</body>
</html>