<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bookDetail.css">
    <title>Detalle de Libro - TEC 5</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

    <main>
        <div class="detalle-libro">
            <img src="<%= libroDetalle.image %>" alt="Portada del libro" class="portada-libro">
            <div class="detalle-contenido">
                <h2><%= libroDetalle.title %></h2>
                <p class="descripcion"><%= libroDetalle.description %></p>
                <div class="genero-card">
                    <h3 class="genero-titulo">Géneros:</h3>
                    <div class="genero-container">
                        <p class="genero-texto"><%= libroDetalle.genre %></p>
                    </div>
                </div>
                <p class="id-libro">ID: 00<%= libroDetalle.id %></p>
                <div class="card-buttons">
                    <a href="/book/book-download-pdf/<%= libroDetalle.id %>" class="descargar-btn">Descargar PDF</a>
                    <% if (isLoggedIn) { %>
                        <a href="/book/book-edit/<%= libroDetalle.id %>" class="descargar-btn">Editar libro</a>
                        <% } %>
                </div>
            </div>

        </div>
    </main>
    
    
    
    
    
    

    <%- include ("./partials/footer") %>

    
</body>
</html>