<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Inicio - TEC 5</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

    <main class="main-content">
        <div class="card-container">
            <% data.forEach(book => { %>
                <div class="card">
                    <img class="card-image" src="<%= book.image %>" alt="<%= book.title %>">
                    <div class="card-content">
                        <h3 class="card-title"><%= book.title %></h3>
                        <div class="card-buttons">
                            <a href="/book/book-download-pdf/<%= book.id %>" class="download-btn">Descargar PDF</a>
                            <a href="/book/book-detail/<%= book.id %>" class="details-btn">Ver detalles</a>
                        </div>
                        <p class="card-id">ID: <%= book.id %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>
    

   <%- include ("./partials/footer") %>


</body>
</html>
