<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Inicio - TEC 5</title>
</head>
<body>

    <%- include ("./partials/navbar") %>

   <main>
    <div class="card-container">
        <% data.forEach(book => { %>
            <div class="card">
                <img src="<%= book.image %>" alt="<%= book.title %>">
                <h3><%= book.title %></h3>
                <p><%= book.description %></p>
                <a href="<%= book.link %>" download>Descargar PDF</a>
                <a href="/book-detail/<%= book.id %>">Ir</a>
            </div>
        <% }); %>
    </div>
   </main>

</body>
</html>
